<h2><%= data.startLocation %></h2>>
<article class="article">Destination: <%= data.endLocation %></article>
<article class="article">Departure (hh:mm): <%= data.trainTime %></article>
<article class="article">Platform number: <%= data.platformNumber %></article>
<article class="article">Carriage number: <%= data.carriageNumber %></article>
<article class="article">Notes: <%= data.extraNotes %></article>